{% extends 'layout.html.twig' %}

{% block title %}About us{% endblock %}

{% block content %}
<div class="container p-5">
  <h3 class="text-center mb-5">About us</h3>
  <div class="content row align-items-center">
    <div class="col-lg-6 col-sm-12">
      <p><strong class="text-purple">Creecolo</strong> stands for "Create Ecolo". It is a social network where you can share your ecological creation with others.</p>
      <p>The idea comes from an observation : we all have a lot of objects that we don't use anymore, but are still in good condition. So why not give them a second life ?</p>
      <p>By reusing your objects, you accomplish several things:</p>
      <p>&#8227; You save money, no need to buy something you can do by yourself !</p>
      <p>&#8227; You help the planet by recycling your old objects</p>
      <p>&#8227; You avoid overconsumption</p>
      <p>We are happy to <strong class="text-purple">welcome you</strong> ! 😃 </p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="{{ asset('images/forming-ideas.svg') }}" alt="forming ideas">
    </div>
  </div>
</div>


{% endblock %}