{% extends 'layout.html.twig' %}

{% block title %}How it works{% endblock %}

{% block content %}
<div class="container p-5">
  <h1 class="text-center">How it works?</h1>
  <p>First, you need to register by creating your own account. All we ask for is your first and last name, your email address and to set a password.</p>
  <p>Then, you will be able to see other's post, publish your own post, comment and like.</p>
  <p>You can now add your own post, to do that just click on the button "add post" in your profile or directly from the navbar. Don't forget to add a picture of your creation 🥳</p>
  <p>Once you created a post, you can always edit or delete it. Don't worry 😊</p>
  <p class="font-weight-bold">Get more questions?</p> 
  <a href="{{ path('app_faq') }}" class="btn btn-info">Yes !</a>
</div>
{% endblock %}