{% extends "layout.html.twig" %}

{% block title %}Legal notice{% endblock %}

{% block content %}
  <div class="container p-5">
    <h1>Legal notice</h1>
    <p>Please carefully read the different terms of use for this website before browsing its pages. By connecting to this website, you accept these terms and conditions without reservation. Also, in accordance with article n°6 of the Law n°2004-575 of 21 June 2004 trust in the digital economy, the persons in charge of this website https://creecolo.herokuapp.com/ are:</p>

    <h5>Website Editor :</h5>

    <p>Email: creecolo@gmail.com</p>
    <p>Website: https://creecolo.herokuapp.com/</p>

    <h5>Accommodation :</h5>

    <p>Hosting company: Heroku</p>
    <p>Inc. 650 7th Street San Francisco, CA 94103, USA.</p>
    <p>Website: https://www.heroku.com/</p>

    <h5>Development :</h5>

    <p>Creecolo</p>

    <h5>Design / Creation :</h5>

    <p>Creecolo</p>

    <h5>Conditions of use :</h5>

    <p>This website (https://creecolo.herokuapp.com/) is available in different web languages (HTML5, JavaScript, CSS, etc…) for a better user experience and a more pleasant graphic design, we recommend that you use modern browsers such as Internet explorer, Safari, Firefox, Google Chrome, etc…</p>
    <p>The legal notices were generated on the Legal Notice Generator website, offered by Welye.</p>

    <p>Creecolo uses all the means at its disposal to ensure reliable information and reliable updating of its websites. However, errors or omissions may occur. The Internet user must therefore ensure the accuracy of the information with and report any changes to the site that he deems useful. is in no way responsible for the use made of this information, and for any direct or indirect damage that may result from it.</p>

    <p>Cookies : The https://creecolo.herokuapp.com/ website may ask you to accept cookies for statistical and display purposes. A cookie is information placed on your hard drive by the server of the site you are visiting. It contains several data that are stored on your computer in a simple text file that a server accesses to read and save information. Some parts of this website cannot be functional without the acceptance of cookies.</p>

    <p>Hypertext links: The websites may offer links to other websites or other resources available on the Internet. Creecolo has no means to control the sites linked to its websites does not guarantee the availability of such external sites and sources. It cannot be held liable for any damage of any nature whatsoever resulting from the content of these external sites or sources, and in particular from the information, products or services they offer, or from any use that may be made of these elements. The risks associated with this use are entirely the responsibility of the Internet user, who must comply with their conditions of use.</p>

    <p>Users, subscribers and visitors of the websites of Creecolo cannot set up a hyperlink to this site without the express prior authorization of Creecolo.</p>

    <p>In the event that a user or visitor wishes to set up a hyperlink to one of Creecolo’s websites, it will be up to him/her to send an email accessible on the website in order to formulate his/her request to set up a hyperlink. Creecolo reserves the right to accept or refuse a hyperlink without having to justify its decision.</p>

    <h5>Services provided :</h5>

    <p>All the company’s activities and information are presented on our website https://creecolo.herokuapp.com.</p>

    <p>Creecolo strives to provide as accurate information as possible on the https://creecolo.herokuapp.com website. The information on the https://creecolo.herokuapp.com website is not exhaustive, and the photos are not contractual. They are given subject to modifications that have been made since they were put online. In addition, all the information indicated on the https://creecolo.herokuapp.com website is given for information purposes only and is subject to change or evolution without notice.</p>

    <h5>Contractual limitation on data:</h5>

    <p>The information contained on this site is as accurate as possible and the site is updated at different times of the year but may contain inaccuracies or omissions. If you notice a gap, error or what appears to be a malfunction, please report it by email to creecolo@gmail.com, describing the problem as precisely as possible (page causing the problem, type of computer and browser used, etc.).</p>

    <p>Any content downloaded is at the user’s own risk and under his sole responsibility. Consequently, no liability can be accepted for any damage to the user’s computer or loss of data as a result of downloading. In addition, the user of the site undertakes to access the site using recent, virus-free equipment and with a state-of-the-art browser.</p>

    <p>The hypertext links set up within the framework of this website to other resources on the Internet network do not engage the responsibility of Creecolo.</p>

    <h5>Intellectual property:</h5>

    <p>All content on the https://creecolo.herokuapp.com website, including, but not limited to, graphics, images, text, videos, animations, sounds, logos, gifs and icons as well as their formatting, are the exclusive property of the company, with the exception of trademarks, logos or content belonging to other partner companies or authors.</p>

    <p>Any reproduction, distribution, modification, adaptation, retransmission or publication, even partial, of these various elements is strictly prohibited without the express written consent of Creecolo. This representation or reproduction, by any means whatsoever, constitutes an infringement punishable by articles L.335-2 and following of the Intellectual Property Code. Failure to comply with this prohibition constitutes an infringement that may result in civil and criminal liability of the infringer. In addition, the owners of the copied Content may take legal action against you.</p>

    <h5>General Data Protection Regulations (RGPD) :</h5>

    <p>For any request to withdraw consent and delete personal data, please refer to our privacy policy.</p>

    <h5>Disputes :</h5>

    <p>These https://creecolo.herokuapp.com website terms and conditions are governed by French law and any dispute or litigation that may arise from the interpretation or execution thereof shall fall within the exclusive jurisdiction of the courts on which the company’s registered office depends. The reference language for the settlement of any disputes is French.</p>
  </div>
{% endblock %}