{% extends 'layout.html.twig' %}

{% block title %}Our disclaimer{% endblock %}

{% block content %}
<div class="container p-5">
  <h1>Privacy Policy for Creecolo</h1>

  <p>At Creecolo, accessible from https://creecolo.herokuapp.com/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Creecolo and how we use it.</p>

  <p>Personal data consists of the various data that the User communicates to the Publisher through the use of the forms on the website https://creecolo.herokuapp.com</p>

  <p>The Publisher undertakes that the collection and processing of personal data on the https://creecolo.herokuapp.com website will be carried out in accordance with EU Regulation 2016/679 of 27 April 2016 on the protection of individuals with regard to the processing of personal data and on the free movement of such data applicable since 25 May 2018 (RGPD), and with Law No 78-17 of 6 January 1978 as amended by Law No 2018-493 of 20 June 2018.</p>

  <p>The publisher already specifies that all the data collected on the website are not transmitted to third parties to the company Creecolo.</p>

  <p>The website https://creecolo.herokuapp.com allows the User to enter information that falls within the definition of personal data, i.e. any information relating to an identified or identifiable natural person.</p>

  <p>The data are collected via several forms accessible by clicking on the corresponding tabs.</p>

  <p>The personal information collected is as follows:</p>

  <p>In case of access to the “Contact Us” area on the Creecolo company website, the user may have to communicate to the publisher:</p>

  <p>
    His name <br>
    His first name <br>
    His e-mail address <br>
    The purpose of the above-mentioned information is to enable the user to contact Creecolo. <br>
  </p>
  
  <p>In the “Contact Us” section, the publisher may collect information about the user:</p>

  <p>
    His name <br>
    His first name <br>
    His e-mail address <br>
    All the above information is intended to allow the user to contact Creecolo.
  </p>
  
  <p>In general, all the above information is in line with the purpose of the Website.</p>

  <p>Personal data are processed on the basis of:</p>

  <p>The User’s consent in accordance with article 6.1.a of the DGPS and 7 of the law of 6 January 1978.</p>

  <p>The execution of a contract with the User in accordance with article 6.1.b of the RGPD and 7-4° of the law of 6 January 1978.</p>

  <p>The legitimate interests of the Publisher when these prevail in accordance with article 6.1.f of the RGPD and 7-5° of the law of 6 January 1978.</p>

  <p>The data thus collected in a fair and lawful manner are adequate, relevant and limited to what is necessary for the purposes intended.</p>

  <p>It is specified that, in the event of the need for consent, the Publisher shall only collect personal data from children under 15 years of age if there is joint consent given by the minor concerned and the person or persons having parental authority.</p>

  <p>The User is responsible for the accuracy of the data he fills in the forms on the website https://creecolo.herokuapp.com</p>

  <p>The User is required to notify the Publisher of any update of his information so that the data collected remains up to date.</p>

  <p>The User is required to provide personal data concerning him/her and refrains from providing data concerning a third party.</p>

  <p>The data contained in the forms on the website are mandatory as soon as an asterisk appears next to its wording.</p>

  <p>If the User fails to provide the required marked information or if the User enters false or erroneous data, the Publisher is not required to provide the service requested.</p>

  <p>The personal data collected by the Publisher are kept for the time necessary for their processing, and for a maximum of two years after the last connection or contact with the User.</p>

  <p>The entry of the personal data referred to above by the User implies the User’s express consent to the processing of his or her personal data for each purpose sought, depending on the heading in question.</p>

  <p>The User has the right to withdraw his consent at any time by writing an email to the following address: creecolo@gmail.com or by sending a request from the form on the <a href="{{ path("app_contact") }}"> contact us</a> page.</p>

  <p>It is recalled that the withdrawal of consent by the User does not affect the lawfulness of the processing of personal data based on the consent given before such processing.</p>

  <p>In any event, the Publisher undertakes not to process the data collected for a purpose other than that for which the Application was developed.</p>

  <p>In order to fully and synthetically inform the User about the data collection, the following information is specified:</p>

  <p>The purpose of the processing of personal data is to enable the Publisher to respond to requests made by the User via the various forms listed above.</p>

  <p>The data collected are not transferred to any country outside the European Union or to an international organisation.</p>

  <p>The data collected by the Publisher are stored on servers belonging to Heroku, whose registered office is located at Inc. 650 7th Street San Francisco, CA 94103, USA.</p>


  <h2>Cookies</h2>

  <p>Like any other website, Creecolo uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

  <p>For more general information on cookies, please read <a href="https://www.privacypolicyonline.com/what-are-cookies/">"What Are Cookies" from Cookie Consent</a>.</p>

  <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>

  <h2>Online Privacy Policy Only</h2>

  <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Creecolo. This policy is not applicable to any information collected offline or via channels other than this website.</p>

  <h2>Consent</h2>

  <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
</div>
{% endblock %}