{% extends 'layout.html.twig' %}

{% block title %}New comment{% endblock %}

{% block content %}
  <div class="container p-5">
    <h5 class="mb-4">New comment</h5>
    <hr class="mb-5">
    <div class="container-form">
      {{form(form)}}
    </div>
  </div>
{% endblock %}