{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="container-form">
            <h1>Contact us</h1>
            {{form(my_form)}}
        </div>
    </div>
{% endblock %}