<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for joining Creecolo 🎉</p>
    <p>The goal of this community is to share your creative ideas for upcycling your old items!</p>
    <p>You can contact us any time if you have any questions at creecolo@gmail.com</p>
    <p>See you soon on Creecolo!</p>
    <p>In the meantime, keep upcycling 🛠</p>
  </body>
</html>