{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}


  <div class="container-block mt-5 mb-5">
    {% include '_navbar.html.twig' %}

    {# Flash messages #}
    {% include '_flash-messages.html.twig' %}
    {# end flash messages #}
    
    {% if app.request.get('_route') == 'app_showallposts' %}
      {% include '_jumbotron-presentation.html.twig' %}
    {% endif %}

    
    {% block content %}


    {% endblock %}

    {% include '_footer.html.twig' %}
  </div>


{% endblock %}