{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

  {% include '_navbar.html.twig' %}

  {# Flash messages #}
  {% include '_flash-messages.html.twig' %}
  {# end flash messages #}

  <div class="container container-block-content mt-5 mb-5">

    {% block content %}


    {% endblock %}
  </div>

  {% include '_footer.html.twig' %}

{% endblock %}