{% extends 'layout.html.twig' %}

{% block title %}Add a new post{% endblock %}

{% block content %}
  <div class="container p-5">
    <div class="container-form">
      <h1 class="mb-5 text-center">Add a new post</h1>
      {{form(form)}}
    </div>
  </div>
{% endblock %}