.remove-padding{
  padding-left: 0;
}
.no-bg{
  background-color: transparent;
  border: none;
}
.faq-title{
  color: $primary;
}
@media (min-width: 0px) and (max-width: 970px){
  .faq-image{
    display: none;
  }
}