{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container p-5">
  <h2>Edit your profile informations</h2><br>
    <div class="container-form">
      {{form(form)}}
    </div>
</div>
{% endblock %}